<div id="config-success-message">
  {{ template "config-spinner.html.tmpl" . }}
  <div
    id="config-error-message"
    class="text-error"
    hx-swap-oob="outerHTML"
    _="on load call clearConfigSpinner()"
  >
    {{ .Message }}
  </div>
</div>
